{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'css/admin_signup.css'%}">
</head>
<body>
    <div class="center-box">
    <form method="post">
    {%csrf_token%}
    {{form.as_p}}
    <button type="submit">Register</button>
</form>
{% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}
<p>if you already have an account <a href="{% url 'user_login' %}">Login</a></p>
<a href="{% url "home" %}">Home</a>
</div>
</body>
</html>