{%load static%}
<!DOCTYPE html>
<html>
<head>
    <title>Student Dashboard</title>
    <link rel="stylesheet" href="{% static "css/student_dashboard.css" %}">
</head>
<body>
    {% csrf_token %}
    <div class="center-box">
    
    <h2>Student- {{ request.user.username }}</h2>
    <p>Your Borrowed Books:</p>
    
        {% for record in records %}
            <li>
                <strong>{{ record.book.title }}</strong> by {{ record.book.author }} 
                (Borrowed on {{ record.borrowed_at }}, Due on {{ record.due_date }})
            </li>
        {% empty %}
           <p> You haven't borrowed any books yet</p>
        {% endfor %}
    
<br>
    <p><a href="{% url 'available_books' %}">View Available Books</a></p>

    <p><a href="{% url 'user_logout' %}">Logout</a></p>
</div>
</body>
</html>
